<mat-card class="example-card">
  <ng-container *ngIf="isExpanded || !coverImageLink; else logoDisplay">
    <div class="title-question">
      <ng-container *ngFor="let question of thought.questions">
        {{ question }}
      </ng-container>
    </div>

    <div>
      <h2>新闻</h2>
      <div *ngFor="let news of thought.news" class="app-news">
        <app-news [news]="news"></app-news>
      </div>
    </div>

    <div class="margin-top-20px">
      <button
        mat-raised-button
        *ngIf="!showThoughts; else myThoughts"
        (click)="showThoughts = !showThoughts"
      >
        我的想法和结论
      </button>

      <ng-template #myThoughts>
        <h2>我的想法和结论</h2>

        <app-list-slides
          [items]="thought.comments"
          [buttonText]="'Next'"
          (displayItemsResult)="receiveNewResults($event)"
        >
          <ol>
            <li *ngFor="let comment of comments">
              {{ comment.text }}

              <div *ngIf="comment.comments">
                <ul>
                  <li *ngFor="let subComment of comment.comments">
                    {{ subComment.text }}
                  </li>
                </ul>
              </div>

              <div *ngIf="comment.imageLinks">
                <img class="comment-image" src="{{ comment.imageLinks[0] }}" />
              </div>
            </li>
          </ol>
        </app-list-slides>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #logoDisplay>
    <div (click)="isExpanded = !isExpanded" class="cover-container">
      <div class="title">
        <div *ngFor="let question of thought.questions">
          {{ question }}
        </div>
      </div>
      <img src="{{ coverImageLink }}" />
    </div>
  </ng-template>
</mat-card>
