<mat-card class="example-card">
  <div class="title-question">
    <h1>{{ thought.question }}</h1>
  </div>

  <ng-container *ngIf="isExpanded; else logoDisplay">
    <ng-container *ngFor="let news of thought.news">
      <app-news [news]="news"></app-news>
    </ng-container>

    <mat-card class="margin-top-10px">
      <div>Thoughts:</div>
      <ol>
        <li *ngFor="let comment of comments">
          {{ comment.text }}
        </li>
      </ol>
      <button
        mat-button
        (click)="onNextThought()"
        [disabled]="comments.length === thought.comments.length"
      >
        Next
      </button>
    </mat-card>
  </ng-container>
  <ng-template #logoDisplay>
    <div>
      <img src="{{ stockLogoLink }}" (click)="isExpanded = !isExpanded" />
    </div>
  </ng-template>
</mat-card>
