<div>
  Disclaimer: The content on this website and YouTube videos are my own personal
  opinions and for educational purposes only.
</div>

<div>
  <h1>Daily News and Thinking.</h1>

  <app-list-slides
    [items]="blogs"
    [buttonText]="'Previous Blog'"
    (displayItemsResult)="receiveNewResults($event)"
  >
    <ng-container *ngFor="let blog of displayBlogs">
      <div>{{ blog.date | date: 'fullDate' }}</div>

      <ng-container *ngFor="let thought of blog.thoughts">
        <app-thought-display [thought]="thought"></app-thought-display>
      </ng-container>
    </ng-container>
  </app-list-slides>
</div>

<div class="disclaimer-section">
  Disclaimer: The content on this website and YouTube videos are my own personal
  opinions and for educational purposes only.
</div>
