a {
  font-size: larger;
}

img {
  width: 100%;
}

h1 {
  margin-top: 10px;
}

.news-summary {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.comment-image {
  height: 200px;
  object-fit: contain;
}

.quote {
  margin: 0px 5px;
}

.my-comments {
  margin: 15px 0px;
}

.mat-icon {
  font-weight: 0.5;
}
