<mat-card class="example-card">
  <div class="news-summary">
    <div>
      <mat-chip-list>
        <mat-chip color="primary">
          {{ news.source }}
        </mat-chip>
      </mat-chip-list>
      <div>{{ news.date | date: 'shortDate' }}</div>
    </div>

    <div>
      <a target="_blank" href="{{ news.sourceLink }}">{{ news.title }}</a>
    </div>

    <div>
      <button mat-button (click)="showDetail = !showDetail">Details</button>
    </div>
  </div>

  <div *ngIf="showDetail">
    <app-list-slides
      [items]="news.comments"
      [buttonText]="'Next'"
      (displayItemsResult)="receiveNewResults($event)"
    >
      <div>
        <ol>
          <li *ngFor="let comment of comments">
            <strong class="quote">"</strong>
            <i>{{ comment.text }}</i>
            <strong class="quote">"</strong>

            <div *ngIf="comment.comments" class="my-comments">
              <strong>I think</strong>

              <ul>
                <li *ngFor="let subComment of comment.comments">
                  {{ subComment.text }}
                </li>
              </ul>
            </div>

            <div *ngIf="comment.imageLinks">
              <img class="comment-image" src="{{ comment?.imageLinks[0] }}" />
            </div>
          </li>
        </ol>
      </div>
    </app-list-slides>
  </div>
</mat-card>
